*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-display: swap;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'),
	  url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
		format('woff2');
	font-display: swap;
  }
  
:root{
	--bg-color: #FFFFFF;
	--text-color: black;
	--second-color: #5a7184;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}



header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 14%;
    background-color: var(--bg-color);
    transition: all .4s ease;
    z-index: 1000;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
}

.navlist{
    display: flex;
}

.logo{
    display: flex;
    color: black;
    font-size: 20px;
}

.logo img{
    margin-right: 15px;
    width: 100%;
    height: 30px;
}

.navlist a{
    position: relative;
    color: black;
    margin: 0 20px;
    letter-spacing: 2px;
    transition: all .4s ease;
}
li .active{
    color: #0A8080;
}

.navlist a:hover{
    color: #0A8080;
}

.navlist a::after{
    position: absolute;
    background-color: #0A8080;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all .4s ease;
}

.navlist a:hover::after{
    width: 70%;
}


.navlist i{
    display: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.btn{
    color: black;
    letter-spacing: 2px;
    margin-right: 20px;
}

.btn2{
    color: #0A8080;
    position: relative;
}

.line img{
    position: absolute;
    right: 14%;
}

#menu {
    font-size: 30px;
    display: none;
    z-index: 10001;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 14%;
    text-align: start;
    background-color: #FFF5ED;
    width: 100%;
    height: 100vh;
}

.title-sec h1{
    color: black;
    font-size: 70px;
}

.title-sec h2{
    font-size: 18px;
}

.title-sec p{
    color: black;
    margin: 15px 0;
}

.getbtn{
    background-color: #0A8080;
    color: white;
    letter-spacing: 1px;
    padding: 12px 22px;
    margin-top: 15px;
    display: inline-flex;
    border-radius: 5px;
}

.about-img{
    position: relative;
}

.about-img img{
    width: 100%;
    height: auto;
}

.who{
    padding: 5% 10%;
    width: 100%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.img img{
    width: 120%;
    height: auto;
}

.who h1{
    text-align: center;
    font-size: 30px;
}

.txt p{
    width: 60%;
    line-height: 35px;
    float: right;
}

.rows{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.txts h1{
    font-size: medium;
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.line1{
    width: 100%;
    height: 3px;
    background-color: #A17857;
}

.rows-why{
    padding: 10% 10%;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.col-1{
    text-align: start;
}

.col-1 h1{
    font-size: 40px;
    text-align: start;
    margin-right: 20px;
}

.col-1 p{
    color: black;
    line-height: 40px;
    margin-top: 20px;
}

.col-2 img{
    width: 90%;
    height: auto;
}
.checks{
    margin-top: 20px;
}

.check-1 i{
    color: green;
    font-size: 20px;
    margin-right: 10px;
}

.check-1 a {
    color: black;
    font-size: small;
}

.check-1 a i{
    vertical-align: middle;
}

.check-2 i{
    color: green;
    font-size: 20px;
    margin-right: 10px;
}

.check-2{
    margin-top: 10px;
}

.check-2 a {
    color: black;
    font-size: small;
}

.check-2 a i{
    vertical-align: middle;
}

.check-2 .a1{
    margin-right: 66px;
}

.check-1 .a2{
    margin-right: 40px;
}

.explore{
    color: #3183FF;
    font-weight: 600;
    display: inline-flex;
    margin-top: 50px;
}

.explore i{
    color: #3183FF;
    font-size: 27px;
    
}

.founder{
    padding: 0 14%;
}

.rowss{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.img img{
    width: 80%;
    height: auto;
}


.detailss p{
    font-size: 25px;
    color: black;
    margin-bottom: 50px;
}

.detailss .p1{
    color: black;
    font-size: 15px;
    line-height: 30px;
}

.subscribe{
    margin-top: 5%;
    width: 100%;
    height: auto;
    background-image: url(../img/Group\ 79.png);
    background-position: center;
    background-size: cover;
    padding: 6% 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.det{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 3rem;
    background-color: white;
    width: 60%;
    padding: 2.5%;
}

.titles h1{
    font-size: 25px;
}
.titles p{
    font-size: 10px;
    color: black;
    width: 70%;
    margin-top: 10px;
}


form input{
    background-color: #D4DAE2;
    border: none;
    padding: 15px 30px;
    width: 65%;
    border-radius: 10px;
    color: black;
}
.txt3 p{
    color: black;
    font-size: 8px;
    margin-top: 10px;
    margin-left: 2px;
}

form a{
    background-color: #DB4A87;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
}

footer{
    width: 100%;
    height: auto;
    padding: 0% 10% 2% 10%;
}

.copy img{
    margin-right: 15px;
    width: 25px;
    height: auto;
}

.rows{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.copy h1{
    font-size: 15px;
    color: #0F2137;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.copy p{
    color: black;
    font-size: small;
}

.det-foot h1{
    font-weight: 600;
    font-size: large;
    margin-bottom: 30px;
    vertical-align: middle;
}

.det-foot a{
    color: black;
    margin-bottom: 10px;
    display: inline-flex;
}

.det-foot li img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 10px;
}

.mob{
    display: none;
}

@media screen and (max-width : 1330px) {

    #menu {
        display: block;
        cursor: pointer;
    }

    .navlist {
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 30px;
        gap: 50px;
        background-color: #0A8080;
        transition: all .4s ease;
    }

    .other{
        display: none;
    }

    li .active{
        color: #e6d8cc;
    }

    .navlist a {
        top: 100px;
    }

    .navlist a:hover {
        color: var(--bg-color);
    }

    .btn a {
        display: none;
    }

    .open {
        right: 0;
    }

    





}


@media screen and (max-width : 467px) {




    .main {
        display: none;
    }

    header{
        background-color: #E6D8CC;
        box-shadow: none;
    }
    #menu{
        color: #0F2137;
    }
    .navlist {
        position: absolute;
        top: 0;
        left: -100%;
        width: 270px;
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 30px;
        gap: 50px;
        background-color: #0A8080;
        transition: all .4s ease;
    }
    .open {
        left: 0;
    }

    .logo{
        display: none;
    }

    .mob{
        display: block;
        padding: 25% 5%;
        width: 100%;
        height: 100%;
        background-color: #E6D8CC;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    form input{
        width: 300px;
        background-color: white;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        margin-left: 30px;

    }

    .h-img{
        width: 280px;
        height: 170px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        object-fit: cover;
        margin-left: 38px;
    }

    .row-mob{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title h1{
        display: inline-flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        font-size: 20px;
        color: #0F2137;
    }
    .line-t{
        width: 50px;
        background-color: #0F2137;
        height: 7px;
        border-radius: 50px;
    }

    .founder{
        width: 100%;
        background-color: #D4DAE2;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    }

    .founder p{
        text-align: start;
    }

    .txtt{
        text-align: center;
    }

    .f-img .im1{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .f-img{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .f-img img{
        width: 100px;
    }

    .f-img h1{
        font-size: 25px;
    }


}